In [2]:
import QuantLib as ql
import datetime

In [ ]:
today = ql.Date_todaysDate()

In [17]:
ql.Date_todaysDate()

Date(12,4,2018)

In [27]:
calendar = ql.HongKong()

def ql_date_formate(day, month, year):
    return ql.Date(day, month, year)

def business_day_checker(date):
#    calendar = ql.HongKong()
    return calendar.isBusinessDay(date)

def date_to_string(date):
    datetime_formate = datetime.datetime(date.year(), date.month(), date.dayOfMonth())
    return datetime_formate.strftime("%y%m%d")

def business_day_preiod_list(preiod, start_day = ql.Date_todaysDate(), formate = 'ql'):
    preiod_list = list()
    preiod_list.append(start_day)
    for i in range(1, preiod +1):
        min_period = ql.Period(-i, ql.Days)
        date = calendar.advance(start_day, min_period)
        
        if formate == 'str':
            date = date_to_string(date)
        preiod_list.append(date)
    
    return preiod_list

In [4]:
business_day_checker(ql.Date(11, 4, 2018))

True

In [28]:
business_day_preiod_list(60, formate = 'str')

[Date(12,4,2018),
 '180411',
 '180410',
 '180409',
 '180406',
 '180404',
 '180403',
 '180329',
 '180328',
 '180327',
 '180326',
 '180323',
 '180322',
 '180321',
 '180320',
 '180319',
 '180316',
 '180315',
 '180314',
 '180313',
 '180312',
 '180309',
 '180308',
 '180307',
 '180306',
 '180305',
 '180302',
 '180301',
 '180228',
 '180227',
 '180226',
 '180223',
 '180222',
 '180221',
 '180220',
 '180215',
 '180214',
 '180213',
 '180212',
 '180209',
 '180208',
 '180207',
 '180206',
 '180205',
 '180202',
 '180201',
 '180131',
 '180130',
 '180129',
 '180126',
 '180125',
 '180124',
 '180123',
 '180122',
 '180119',
 '180118',
 '180117',
 '180116',
 '180115',
 '180112',
 '180111']

In [31]:
date = ql.Date(1, 5, 2015)
hk_calendar = ql.HongKong()

add_period = ql.Period(60, ql.Days)
min_period = ql.Period(-0, ql.Days)
#raw_date = date + period
add_hk_date = hk_calendar.advance(date, add_period)
min_hk_date = hk_calendar.advance(date, min_period)
print ('today:', date)

#print ("Add 60 days:", raw_date)
print ("Add 60 business days in hk:", add_hk_date)
print ("Add 60 business days in hk:", min_hk_date)

today: May 1st, 2015
Add 60 business days in hk: July 28th, 2015
Add 60 business days in hk: May 4th, 2015

In [38]:
date = ql.Date(1, 5, 2015)
min_period = ql.Period(-10, ql.Days)
min_hk_date = hk_calendar.advance(date, min_period)
print ('today:', date)
print ("0 business days in hk:", min_hk_date)

today: May 1st, 2015
0 business days in hk: April 17th, 2015

In [ ]:
date = ql.Date(1, 5, 2015)
min_period = ql.Period(-60, ql.Days)

In [ ]:
min_period

In [ ]:
add_hk_date

In [ ]:
import datetime
def ql_to_datetime(d):
    datetime_formate = datetime.datetime(d.year(), d.month(), d.dayOfMonth())
    return datetime_formate.strftime("%y%m%d")

ql_to_datetime(add_hk_date)

In [ ]:
date = ql.Date(5, 4, 2018)

hk_calendar.isBusinessDay(add_hk_date)